/* padding and margin */
.p-1{
	padding: 5px !important;
}
.p-2{
	padding: 10px !important;
}
.p-3{
	padding: 15px !important;
}
.p-4{
	padding: 20px !important;
}
.p-5{
	padding: 25px !important;
}
.pt-1{
	padding-top: 5px !important;
}
.pt-2{
	padding-top: 10px !important;
}
.pt-3{
	padding-top: 15px !important;
}
.pt-4{
	padding-top: 20px !important;
}
.pt-5{
	padding-top: 25px !important;
}
.pb-1{
	padding-bottom: 5px !important;
}
.pb-2{
	padding-bottom: 10px !important;
}
.pb-3{
	padding-bottom: 15px !important;
}
.pb-4{
	padding-bottom: 20px !important;
}
.pb-5{
	padding-bottom: 25px !important;
}
.pl-1{
	padding-left: 5px !important;
}
.pl-2{
	padding-left: 10px !important;
}
.pl-3{
	padding-left: 15px !important;
}
.pl-4{
	padding-left: 20px !important;
}
.pl-5{
	padding-left: 25px !important;
}
.pr-1{
	padding-left: 5px !important;
}
.pr-2{
	padding-left: 10px !important;
}
.pr-3{
	padding-left: 15px !important;
}
.pr-4{
	padding-left: 20px !important;
}
.pr-5{
	padding-left: 25px !important;
}

.m-0{
	margin: 0 !important;
}
.m-1{
	margin: 5px !important;
}
.m-2{
	margin: 10px !important;
}
.m-3{
	margin: 15px !important;
}
.m-4{
	margin: 20px !important;
}
.m-5{
	margin: 25px !important;
}
.mt-1{
	margin-top: 5px !important;
}
.mt-2{
	margin-top: 10px !important;
}
.mt-3{
	margin-top: 15px !important;
}
.mt-4{
	margin-top: 20px !important;
}
.mt-5{
	margin-top: 25px !important;
}
.mb-1{
	margin-bottom: 5px !important;
}
.mb-2{
	margin-bottom: 10px !important;
}
.mb-3{
	margin-bottom: 15px !important;
}
.mb-4{
	margin-bottom: 20px !important;
}
.mb-5{
	margin-bottom: 25px !important;
}
.ml-1{
	margin-left: 5px !important;
}
.ml-2{
	margin-left: 10px !important;
}
.ml-3{
	margin-left: 15px !important;
}
.ml-4{
	margin-left: 20px !important;
}
.ml-5{
	margin-left: 25px !important;
}
.mr-1{
	margin-left: 5px !important;
}
.mr-2{
	margin-left: 10px !important;
}
.mr-3{
	margin-left: 15px !important;
}
.mr-4{
	margin-left: 20px !important;
}
.mr-5{
	margin-left: 25px !important;
}
/* button */
.btn {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	/* font-size: 13px; */
	transition: .4s ease;
}
.btn-primary {
	background-color: var(--ct-one);
	color: #fff;
}
.btn-primary:hover {
	background-color: var(--ct-two);
	box-shadow: var(--shadow-sm);
}
/* link */
.link {
	color: var(--ct-one);
	text-decoration: none;
}
.link.link-black{
	color: #444;
}
/* text */
.text-primary {
	color: var(--ct-one);
}

/* display */
.d-flex {
	display: flex;
}
.d-flex.justify-center {
	justify-content: center;
}
.d-flex.justify-space-between {
	justify-content: space-between;
}
.d-flex.justify-start {
	justify-content: start;
}
/* card */
.card {
	background-color: #fff;
}
.card .card-image {
	transition: .5s all ease;
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
.card .card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s all ease;
}
.cover-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 0;
	/*background-color: #00000050;*/
	backdrop-filter: blur(15px);
	position: absolute;
	bottom: 0;
	font-size: 40px;
	color: #fff;
	transition: inherit;
}
.cover-img a {
	opacity: 0;
	transition: .4s all;
}
.card .card-body {
	padding: 15px 0;
}
.card .card-body h4 {
	margin: 0;
}
.card:hover .card-image {
	box-shadow: 0 10px 10px -5px #555;
}
.card:hover .card-image img {
	transform: scale(1.1);
}
.card:hover .cover-img {
	height: 100%;
}
.card:hover .cover-img a {
	opacity: 1;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 5px;
}

.shadow {
    box-shadow: 0 10px 10px -5px #00000020;
}